body {
    margin:0;
    background-color:rgb(245, 245, 245);
}
.aside {
    position:fixed;
    width:200px;
    padding:60px 25px;
    height:100%;
    background-color:rgb(80, 144, 229);
    z-index:3000;
}
.main {
    position:absolute;
    width:800px;
    left:250px;
    right:0px;
    margin:auto;
    padding:40px 50px;
    min-height:100%;
}
h1.taskName {
    text-align:center;
    color:white;
}
h2.author {
    text-align:center;
    color:white;
    font-size:16px;
}
ul.nav {
    list-style-type:none;
    text-align:center;
    padding:0;
    margin:50px 0 0 0;
}
ul.nav li {
    border-bottom:1px dashed rgb(215, 212, 212);
    padding:20px;
}
ul.nav li:hover {
    background-color:rgba(225, 227, 234, 0.16);
}
ul.nav li a {
    text-decoration:none;
    font-size:18px;
    color:rgb(238, 239, 239)
}
#countDate {
    font-size:28px;
    text-align:center;
    margin-top:30px;
    padding:20px;
    border-radius:10px;
    background-color:rgb(39, 115, 215);
    color:rgb(205, 219, 219);
}
.setDate {
    border-bottom:1px dashed white;
}
.count {
    display:inline-block;
    background-color:rgba(255, 255, 255, 0.26);
    color:rgb(232, 157, 57);
    padding:2px;
}
