body {
    margin:0;
    background-color:rgb(245, 245, 245);
}
.aside {
    position:fixed;
    width:200px;
    padding:60px 25px;
    height:100%;
    background-color:rgb(80, 144, 229);
    z-index:3000;
}
.main {
    position:absolute;
    width:800px;
    left:250px;
    right:0px;
    margin:auto;
    padding:40px 50px;
    min-height:100%;
}
h1.taskName {
    text-align:center;
    color:white;
}
h2.author {
    text-align:center;
    color:white;
    font-size:16px;
}
ul.nav {
    list-style-type:none;
    text-align:center;
    padding:0;
    margin:50px 0 0 0;
}
ul.nav li {
    border-bottom:1px dashed rgb(215, 212, 212);
    padding:20px;
}
ul.nav li:hover {
    background-color:rgba(225, 227, 234, 0.16);
}
ul.nav li a {
    text-decoration:none;
    font-size:18px;
    color:rgb(238, 239, 239)
}
.banner {
    position:relative;
    width:800px;
    height:500px;
    border-radius:20px;
    margin:0;
    overflow:hidden;
}
.slide_img {
    position:absolute;
    top:0;
    left:0;
    width:4000px;
}
.slide_img img {
    float:left;
    width:800px;
    height:500px;
}

.slide_btn {
    position:absolute;
    bottom:10px;
    z-index:1;
    width:800px;
    height:14px;
    line-height:14px;
    text-align:center;
}
.slide_btn a {
    display:inline-block;
    width:12px;
    height:12px;
    border:1px solid white;
    border-radius:100px;
    text-decoration:none;
}
.slide_btn a.hover {
    background-color:#F9F5F2;
}
